.content {
    grid-area: c;
    background-color: cadetblue;

}

.content img {
    /*height: 250px;*/
    width: 100%;

}

.ava img {
    display: inline-block;
    height: auto;
    width: 100px;
}