.dialogs {
    display: grid;
    padding: 10px;

    grid-template-columns: 2fr 10fr;
}

.dialog__names {
}

.dialog__messages {
    margin-left: 5vw;
    margin-right: 5vw;
}
.dialog__msgwrapper {
    /*margin-top: 1vh;*/
    border: 2px solid green;
    border-radius: 2vh;
}