.postHead {
    background-color: chartreuse;
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.button {
    cursor: pointer;
}

.button:hover {
    background-color: white;
}

.button_red {
    animation-name: red_border;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
}

@keyframes red_border {
    0% {
        background-color: buttonface;
    }
    50% {
        background-color: #ff0000;
    }
    100% {
        background-color: buttonface;
    }
}

.error_text {
    color: #ff0000
}